<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <hr class="my-3">
    <form class="form-inline my-2 my-lg-0" action="/" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter Stock Listing" aria-label="Search"
            name="stock_ticker">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Tesla (TSLA)</h5>
      <hr class="my-3">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Apple (AAPL)</h5>
      <hr class="my-3">
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Nvidia (NVDA)</h5>
      <hr class="my-3">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>