<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <hr class="my-3">
    <form class="form-inline my-2 my-lg-0" action="/" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter Stock Listing" aria-label="Search"
            name="stock_ticker">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>